@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --myFont: "Neue Montreal", sans-serif;
}

h1 {
  font-family: var(--myFont);
  font-weight: 550;
}

h2 {
  font-family: var(--myFont);
  font-weight: 550;
}
